!!! Strict
%html{html_attrs}
  %head
    %title Settlers of Satan
    = stylesheet_link_tag "compiled/screen.css", :media => "screen, projection"
  %body
    #container
      = message_block :class => "message-block"
      #page
        = yield
    = javascript_include_tag "http://yui.yahooapis.com/3.0.0b1/build/yui/yui.js", "application"
