!!! Strict
%html{html_attrs}
  %head
    %title Settlers of Satan
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = javascript_include_tag "jquery-1.3.2.js"
  %body
    #container
      #page
        = yield
