!!! Strict
%html{html_attrs}
  %head
    %title Settlers of Satan
    = javascript_include_tag "jquery-1.3.2.js"
  %body
    #container
      #header
        %h1 Settlers of Satan
      #page
        = yield
